<div class="app">
  <div>
    <h4>Tickets</h4>
    <div
      class="tickets"
      *ngIf="tickets">
      <app-ticket
        *ngFor="let ticket of tickets"
        [id]="ticket.id"
        [price]="ticket.price"
        class="ticket">
      </app-ticket>
    </div>
    <div
      *ngIf="!tickets"
      class="lds-ring">
      <div></div><div></div><div></div><div></div>
    </div>
  </div>
  <div>
  <h4>Bucket</h4>
    <div
      class="bucket"
      *ngIf="bucket">
      <app-ticket
        *ngFor="let ticket of bucket"
        [id]="ticket.id"
        [price]="ticket.price"
        class="ticket">
      </app-ticket>
    </div>
    <h4>To pay: {{amount}}</h4>
    <button mat-raised-button (click)="openDialog()">Buy tickets</button>
  </div>
</div>
