<div class="app">
  <div>
    <h4>Tickets</h4>
    <div
      class="tickets"
      *ngIf="tickets">
      <div
        *ngFor="let ticket of tickets"
        [id]="ticket.id"
        class="ticket">
        <p>{{ticket.name}}</p>
        <p>{{ticket.id}}</p>
        <p>{{ticket.date}}</p>
        <p>{{ticket.price}}</p>
        <button
          (click)="addToBucket(ticket)"
          [disabled]=""
        >Buy</button>
      </div>
    </div>
  </div>
  <div>
  <h4>Bucket</h4>
    <div
      class="bucket"
      *ngIf="bucket">
      <div
        *ngFor="let ticket of bucket"
        class="ticket">
        <p>{{ticket.name}}</p>
        <p>{{ticket.id}}</p>
        <p>{{ticket.date}}</p>
        <p>{{ticket.price}}</p>
      </div>
    </div>
  </div>
</div>
